.message {
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;
    font-weight: bold;
}
.notification {
    border-color: green;
    color: green; 
}
.error{
    border-color: red;
    color: red; 
}